@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: poppins;
}
body {
  background: #f4f7ff;
}
.navbar {
  background-color: rgba(250, 250, 250, 0.9) !important;
  padding: 0 12px;
}
.navbar-nav {
  cursor: pointer;
}
.nav-link {
  transition: all 0.3s ease 0s !important;

  color: black !important;
}

.nav-link:hover {
  color: rgb(235, 35, 102) !important;
  border: 1px !important;
  border-style: none none solid none !important;
  border-color: #0275d8 !important;
  padding-bottom: 5px !important;
}
.container {
  margin-top: 150px;
}
.title {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1px;
  text-align: left;
  color: #373a42;
  margin-bottom: 50px;
}
/* footer */
.desc-footer {
  justify-content: space-between;
}

.desc-footer-left p {
  width: 110px;
  height: 21px;
  /* left: 783px;
  top: 399px; */

  font-family: "Poppins";

  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  /* letter-spacing: 0.5px; */
}
.desc-footer-right p {
  width: 200px;
  height: 21px;
  left: 946px;
  top: 291px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  text-align: right;
  /* letter-spacing: 0.5px; */

  color: #3366ff;
}
.btn {
  left: 57.32%;
  right: 16.11%;
  top: 36.15%;
  bottom: 59.62%;

  background: #3366ff;
  box-shadow: 0px 8px 10px rgba(35, 149, 255, 0.3);
  border-radius: 15px;
}
.footer {
  padding: 20px 10px;
  color: #777;
  position: relative;
  font-family: "Poppins", sans-serif;
}
.container-footer {
  padding: 100px 50px;
}
.text-icon {
  margin-top: 20px;
}
.desc-left {
  font-size: 14px;
  font-weight: bold;
  color: black;
}
.footer h3 {
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin-bottom: 15px;
  font-style: medium;
}
.footer-logo {
  font-size: 1.5rem;
  color: #fff;
}
.footer .nav-links li {
  margin-bottom: 5px;
}
.text-list {
  color: #999999;
  text-decoration: none;
  font-size: 12px;
}
.text-list:hover {
  color: black;
}

.footer .social li {
  display: inline-block;
}
.icon {
  color: gray;
  padding: 5px;
  text-decoration: none;
}
.icon:hover {
  color: black;
}

.copyright p {
  font-size: 14px;
  color: #5a7184;
  font-weight: 600;
  padding-left: 30px;
}
