@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

/* HEADER */
header {
  /* WARNA | HEAXADECIMAL = #00000 | rgb(red, green, blue) | rgba(red, green, blue, alpha) */
  background-color: red;
  text-align: center;
  padding: 20px 0;
  position: fixed;
  z-index: 1;
  width: 100%;
}

header h1 {
  color: white;
  padding: 6px 16px;
  border: 6px solid white;
  border-radius: 36px;
  display: inline;
}

/* .kotak1 {
  width: 150px;
  height: 150px;
  padding: 20px;
  border: 10px solid black;
  margin: 20px;
  background-color: blue;
  box-sizing: border-box;
}
.kotak2 {
  width: 150px;
  height: 150px;
  background-color: black;
} */

/* BANNER */
.banner {
  position: relative;
}

.banner__image {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.banner__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../img/character.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__overlay--title {
  color: white;
  font-size: 3rem; /* 16px x 3 */
  font-family: "Bungee", cursive;
  letter-spacing: 5px;
}

/* MENU */
nav {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  position: sticky;
  top: 70px;
  z-index: 1;
  margin-top: -5px;
}

ul {
  white-space: nowrap;
}

.menu__list {
  display: inline-block;
  width: 25%;
}

.menu__list--link {
  text-decoration: none;
  color: #4b4b4b;
}

/* MAIN*/
main {
  max-width: 100%;
  width: 1200px;
  margin: 30px auto;
  padding: 0px 5px;
}
article {
  display: flex;
}

.article__image {
  flex: 1;
}

.article__caption {
  flex: 3;
}

.article__image--size {
  width: 100%;
}

.article__caption--header {
  color: red;
  font-size: 40px;
  margin-bottom: 10px;
}

.article__caption--desc {
  text-align: justify;
}
